*{
color: rgb(0, 0, 0);
roboto-regular> {
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: auto;
font-variation-settings:
    "wdth" 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
}
body{
background-image: url("../IMAGENES/beatles.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4c4b4;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 90px;
    gap: 45px;
}
.logo {
    width: 100px;
    margin: 5px;
    padding: 0;
}

section h1{
    text-align: center;
}
section h2{
    text-align: center;
}

.icono a {
    text-decoration: none;
    color: #519ea5;
    transition: 0.3s;
}
.icono a:hover {
    color: #8bd5e7;
    transform: scale(1.05);
}

.icono i {
    color: #519ea5;
    transition: 0.3s;
}

.icono a:hover i {
    color: #247c93;
    transform: scale(1.05);
}
.icono{
    font-size: 20px;
}